.button{
    background-color: lightgray;
    width: 5rem;
    height: 5rem;
    align-content: center;
}
#myChart {
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#pricesContainer {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pricesContainer p {
    font-size: 3rem;
    font-weight: bold;
}
#timeContainer
{
    display: flex;
    flex-direction: row;
}

